{% extends 'index.html' %}
{% load i18n %}
{% comment %}
This is where you can override the hero area block. You can simply modify the content below or replace it wholesale to meet your own needs.
{% endcomment %}
  {% block hero %}
  <div class="jumbotron">
    <div class="container">
      <h1>{% trans "Welcome" %}</h1>
      <p>{% blocktrans %}Welcome to DomiNode! Dominica's public Geographic Information System (GIS) repository. {% endblocktrans %}</p>
      <p>{% blocktrans %}If you have any questions about the software or service, feel free to <a href="mailto:ictu@dominica.gov.dm">Contact Us</a> {% endblocktrans %}</p>
    </div>
  </div>
  {% endblock %}
